<div class='field'>
  <label
    for='{{name}}'
    class='field__label'
  >{{label}}</label>
  <input
    oninput='{{action}}(this.name, this.value)'
    type='{{text}}'
    class='field__input'
    name='{{name}}'
    placeholder='{{placeholder}}'
  />
</div>